{% extends 'base.html' %}

{% block title %}
{{ city.city_name }}
{% endblock %}

{% block content %}
<section class="city-detail-container row">
    <div class="all-cities-container col s4">
        <h3>Cities</h3>
        {% for city in cities %}
        <div>
            <h3><a href="{% url 'city_detail' city.id %}">{{city.city_name}}</a></h3>
            <img src="{{city.city_image}}" alt="" class="container sm">
        </div>
        {% endfor %}
    </div>

    <article class="col s8 current-city-container">
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <figure class="current-city-header">
                <h3 class="current-city-title">{{ city.city_name }}</h3>
                <img src="{{city.city_image}}" alt="image of {{city.city_name}}" class="container sm current-city-image">
            </figure>
        </div>
        {% comment %} <button href="" class="btn new-post-btn ">New Post</button> {% endcomment %}

        <a class="btn-floating btn-large waves-effect waves-light open-create-post modal-trigger" href="#modal2"><i class="material-icons cities-detail-buttons">add</i></a>
        <div class="new-post modal" id="modal2">
            <form method="POST" class="modal-content">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn cities-detail-buttons modal-close waves-effect waves-green">Submit Post</button>
            </form>
        </div>
        <div>
            {% for post in posts %}
            <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
            {% endfor %}
        </div>

    </article>

</section>
{% comment %} onerror="this.src='imagefound.gif';" {% endcomment %}
<script>
    // Materialize methods
    M.Modal.init(modal2);
    M.FormSelect.init(id_user)
    M.FormSelect.init(id_city)
</script>
{% endblock %}
