{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<section class="container about-container">
    <h1>About Us</h1>
    <div class="divider"></div>
    <h2 class="about-subheading">Meet The Team:</h2>
    <p class=" section">We are a team of students from General Assembly's SEI Immersive cohort!</p>

    <article class="about-cards-container row">

        <div class="aaaa">
            <div class="col s6 m6 l3">
                <div class="card ">
                    <div class="card-image">
                        <img src="https://i.imgur.com/c9VsdCF.png" class="about-img responsive-img">
                    </div>
                    <div class="card-content">
                        <h5 class="flow-text">Emilie Forester</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="aaaa">
            <div class="col s6 m6 l3">
                <div class="card ">
                    <div class="card-image">
                        <img src="https://i.imgur.com/aiCNFX0.jpg" class="about-img responsive-img">
                    </div>
                    <div class="card-content">
                        <h5 class="flow-text">Kyle Howard</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="aaaa">
            <div class="col s6 m6 l3">
                <div class="card ">
                    <div class="card-image">
                        <img src="https://i.imgur.com/6kiHtjT.jpg" class="about-img responsive-img">
                    </div>
                    <div class="card-content">
                        <h5 class="flow-text">Minhazur Rahaman</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="col s6 m6 l3 ">
                <div class="card ">
                    <div class="card-image">
                        <img src="https://i.imgur.com/a7nZQxq.jpg" class="about-img responsive-img">
                    </div>
                    <div class="card-content">
                        <h5 class="flow-text">Tyler C Smith</h5>
                    </div>
                </div>
            </div>
        </div>

    </article>

</section>

{% endblock content %}