{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<section class="container about-container">
    <h1>About Us</h1>
    <div class="divider"></div>
    <h2 class="about-subheading">Meet The Team:</h2>
    <p class=" section">We are a team of students from General Assembly's Software Engineering Immersive cohort!</p>


    <article class="about-cards-container">
        
        <div class="about-flex">
            <img src="https://i.imgur.com/c9VsdCF.png" alt="">
            <div class="about-flex-card">
                <h5>Emilie Forester</h5>
                <p>Licensed esthetician turned coding student based in the Bay Area. Collector of plants.</p>
            </div>
        </div>

        <div class="about-flex">
            <div class="about-pic-background"></div>
            <div class="about-flex-card">
                <h5>Kyle Howard</h5>
                <p>Kyle is a full-stack developer based out of Seattle, Washington.</p>
            </div>
        </div>

        <div class="about-flex">
            <img src="https://i.imgur.com/6kiHtjT.jpg" alt="">
            <div class="about-flex-card">
                <h5>Minhazur Rahaman</h5>
                <p>Minhazur is a CS student based out of New Jersey.</p>
            </div>
        </div>

        <div class="about-flex">
            <img src="https://i.imgur.com/a7nZQxq.jpg" alt="">
            <div class="about-flex-card">
                <h5>Tyler C Smith</h5>
                <p>Former teacher that started coding in 2017. Originally from Las Vegas!</p>
            </div>
        </div>

    </article>
    
</section>

{% endblock content %}