{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'scripts/app.js' %}"></script>
    <title>Wayfarer - {% block title %} {% endblock  %}</title>
</head>
<body>
    <main>
    <nav>
    <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    {% if user.is_authenticated %}
            {% comment %} <li><a href="{% url 'profile_detail' %}">My Profile</a></li> {% endcomment %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
    </ul>
    </nav>
    {% block content %}
        
    {% endblock content %}
    </main>
</body>
</html>