{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<section class="carousel">
<div>
<h1 id="landing-title">Wayfarer</h1>
<h5>SEI project</h5>
</div>

</section>
<section class="landing-grid">
    <div class="landing-grid-item">
    <h4>Title</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam, eaque ipsum dolore repellat dolores asperiores autem eveniet deleniti ad ipsa, reiciendis veritatis neque laborum temporibus 
    </div>
    <div class="landing-grid-item">
    <h4>Title</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam, eaque ipsum dolore repellat dolores asperiores autem eveniet deleniti ad ipsa, reiciendis veritatis neque laborum temporibus 
    </div>
    <div class="landing-grid-item">
    <h4>Title</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam, eaque ipsum dolore repellat dolores asperiores autem eveniet deleniti ad ipsa, reiciendis veritatis neque laborum temporibus 
    </div>

</section>

{% endblock content %}
