{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<section class="carousel_">
<button class="carousel__button carousel-left hidden"><i class="material-icons">arrow_back</i></button>
<div class="carousel__track-container">
    <ul class="carousel__track">
    {% for city in cities %}
    <li class="carousel__slide current-slide">
    <img class="carousel__img" src="{{ city.city_image }}" alt="Picture of {{ city.city_name }}">
    <div class="carousel-overlay">
        <div class="carousel-message fadein">
            <h2><a href="{% url 'city_detail' city.id %}">{{ city.city_name }}</a></h2>
        </div>
    </div>
    </li>
    {% endfor %}
    </ul>
</div>
<button class="carousel__button carousel-right"><i class="material-icons">arrow_forward</i></button>

<div class="carousel_nav">
<button class="carousel_indicator current-slide"></button>
<button class="carousel_indicator"></button>
<button class="carousel_indicator"></button>
<button class="carousel_indicator"></button>
</div>

</section>

<section class="landing-grid">
<h3>What is Wayfarer?</h3>
    <div class="row container">
    <div class="landing-grid-item col s12 m4">
        <h4>Share Memories</h4>
        <i class="medium material-icons">accessibility</i>
        <p>Not all those who wander are lost. Wayfarer is a place for travelers and day-trippers alike to share their experiences with the world! Whether you want to travel the world, or just want to show off your favorite restaurant, Wayfarer is for you! </p>
    </div>
    <div class="landing-grid-item col s12 m4">
        <h4>Discover New Places</h4>
        <i class="medium material-icons">account_balance</i>
        <p>With locations catalogued from around the world, Wayfarer is the perfect place to discover a hidden getaway, or a hot new part of your town. Be sure to let others know what you think of their destinations!</p>
    </div>
    <div class="landing-grid-item col s12 m4">
        <h4>A Way to Connect</h4>
        <i class="medium material-icons">train</i>
        <p>When you create your account(It's <span class="landing-span">free</span>, and lightning quick!), you can make a post about whatever you like! Feel free to include a picture to show off to your friends, and a description telling everyone how cool your spot is. </p>
    </div>
    </div>
    


</section>

{% endblock content %}
<script src="{% static 'scripts/carousel.js' %}"></script>