:root {
    --primary-color: #F0DE87;
    --secondary-color: #D1E3DD;
    --accent-color: #00E08E;
}

body {
    background-color: #F9F9F9;
    font-family: 'Open Sans' , sans-serif;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hidden {
    display: none;
}

.city-detail-container {
    margin: 1rem;
}

.cities-detail-buttons {
    background-color: var(--accent-color) !important;
}

.all-cities-container {
    background-color: var(--primary-color);
}

.row .col.s8.current-city-container {
    background-color: var(--secondary-color);
    margin-left: .5rem !important;
    width: 66% !important;
}

.current-city-container {
    display: flex;
    flex-direction: column;
}

.open-create-post {
    align-self: flex-end;
    margin-top: .25rem;
    margin-right: 2.5rem;
}

.current-city-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.current-city-image {
    margin-right: 0;
    align-self: flex-end;
}