:root {
    --primary-color: #F0DE87;
    --secondary-color: #D1E3DD;
    --accent-color: #00E08E;
}

body {
    background-color: #F9F9F9;
    font-family: 'Open Sans' , sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
}

main {
    flex: 1 0 auto;

}

.btn {
    background-color: var(--accent-color);
}

.nav {
    background-color: var(--secondary-color);
}

.page-footer {
    background-color: var(--secondary-color);
    padding-top: 2vh;
}
.right {
    padding-bottom: 2vh;
    padding-right: 2vh;
}
.hidden {
    display: none;
}

/* ---------------------------------------------------
                     ALL CITIES PAGE                
--------------------------------------------------- */

.all-cities-page-section {
    margin-top: 1.5rem;
}

.all-cities-title {
    color: black;
}

/* ---------------------------------------------------
                     CURRENT CITY PAGE               
--------------------------------------------------- */

.city-detail-container {
    margin: 1rem;
    flex-wrap: wrap;
    display: flex;
}

.city-detail-container h3 {
    color: black;
}

.cities-detail-buttons {
    background-color: var(--accent-color) !important;
}

.all-cities-container {
    background-color: var(--secondary-color);
    border: 5px solid #F9F9F9;
    flex: 1 1 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.all-cities-container a {
    color: black;
}

.row .col.s12.current-city-container {
    background-color: var(--secondary-color);
}

.current-city-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #F9F9F9;
    flex: 2 2 20em;
}

.open-create-post {
    align-self: flex-end;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

.current-city-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 0;
}

.current-city-image {
    margin-right: 3.5rem;
    margin-top: 1rem;
    padding-left: 20px;
    align-self: flex-end;
    margin-left: 1rem;
    width: 100% !important;

}

.current-city-title {
    margin-bottom: .5rem;
    margin-left: 2.5rem;
    text-align: center;
}

.current-city-subheading {
    margin: 0;
    margin-left: 2.5rem;

    font-size: 20px;
    color: #9E9E9E;
}

.post-title-card {
    font-size: 2rem;
    margin-top: 0 !important;
}

.post-card-container {
    padding: 10px;
    overflow: hidden;
}

.post-card-container p {
    color: #9E9E9E;
}

.post-card-container a{
    background-color: var(--accent-color) !important;
}

.all-cities-image {
    padding: 10px !important;
}

.all-cities-cards {
    padding: 0 10px 0 10px;
}


.post-description-text {
    overflow-wrap: break-word;
}

.all-cities-card-title {
    color: var(--primary-color) !important;
}

.card-stacked {
    overflow: auto !important;
}

/* ---------------------------------------------------
                     LANDING                
--------------------------------------------------- */
/* TOP HALF */
.carousel_{
    position: relative;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
}
.carousel__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel__track-container{
    background-color: green;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    top: 50%;
    height: 200px;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.carousel-left{
    left: -40px;
}
.carousel-right{
    right: -40px;
}
.carousel_nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}

.current-slide{
    background: rgba(0,0,0,.75);
}


/* BOTTOM HALF */
.landing-grid{
    background-color: white;
    text-align: center;
    height: 35vh;
    display: flex;
    margin-top: 3rem;
    
}
.landing-grid-item{
    margin: .5rem 4rem;
}

/* ---------------------------------------------------
                     USER SHOW                
--------------------------------------------------- */


/* ---------------------------------------------------
                MY PROFILE / DASHBOARD                
--------------------------------------------------- */
.dashboard-card-grid{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
.card-stacked h1{
    text-align: center;
}
.dashboard-card-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-prof-img{
    height: 300px;
    width: 300px;
}
.card-action h4{
    text-align: center;
}
.dashboard-posts{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.dashboard-img-container a{
    width: 300px;
}

@media only screen and (max-width: 900px) {
    .all-cities-card-title {
        font-size: 25px;
    }
} 