{% extends 'base.html' %}
{% load static %}

{% block title %}
My Post
{% endblock %}

{% block content %}
<section class="container">
    <div class="post-details col l7">
                <div class="post-card">
                    <div class="post-image">
                        <img class="post__image" width="200px" height="200px" src="{{ post.photo }}" onerror="this.src='{% static 'images/default_post_img.png' %}';">
                    </div>
                    <div class="card-content">
                        <span class="post-title"><h1>{{ post.title }}</h1></span>
                        <h6> By: <a href="{% url 'profile_detail' user.username %}">{{post.user.username}}</a></h6>
                        {{ post.description }}
                        {{ post.photo }}
                        <h2>post from: {{ post.city }}</a></h2>
                    </div>
                </div>
            </div>

        <!-- Edit/Delete Buttons-->
        {% if request.user == post.user %}
        <a class="btn" href="{% url 'edit_post' post.id%}">Edit Post</a>
        <button id="confirm-delete" class="btn">Delete Post</button>
        <form action="{% url 'delete_post' post.id %}" class="hidden delete-form" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Click to Confirm Deletion</button>
        </form>
        {% endif %}


    <article class="">
        
        <!-- add comment-->
        <button class="add-comment btn">Add Comment</button>
        <form action="" method="POST" class="hidden comment-form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Submit</button>
            <button type= "button" class="btn cancel-comment">Cancel</button>
        </form>



        <!-- comments -->
        <h4>{{comments.count}} comments</h4>
        {% for comment in comments %}
        <h4 class="comment">{{comment.user.username}}</h4>
        <p class="comment-content">{{comment.content}}</p>
        {% endfor %}
    </article> 
</section>

{% endblock %}